:host {

  mat-card {
    box-shadow: unset;
    padding: 0;
    height: 100%;
    cursor: pointer;
  }

  mat-card-header {
    padding: 5px 5px;
  }

  mat-card-title {
    font-size: 0.9rem;
    margin: 0;
    padding: 5px 0;
  }

  mat-card-subtitle {
    font-size: 0.7rem;
    margin: 0;
    padding: 3px 0;
  }

  mat-card-actions {
    padding: 0 5px;
  }

  .mat-card-avatar {
    margin: 0 5px;
  }

  .mat-card-header-text {
    margin: 0;
  }
}
