<h1 mat-dialog-title>Lamp schedule</h1>

<div mat-dialog-content>

  <!-- <p>Distance:</p>
  <mat-form-field>
    <mat-select [(ngModel)]="data.distance">
      <mat-option *ngFor="let distance of distances" [(value)]="distance">
        {{distance}} 
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <p>Turn on hour:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.hour">
  </mat-form-field>

  <p>Turn on minute:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.minute">
  </mat-form-field>

  <p>Light hour duration:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.lightDuration">
  </mat-form-field>

  <div *ngIf="data.type === 'Full' || data.type === 'White'" >
    <p>White PAR:</p>
    <mat-form-field >
      <input matInput [(ngModel)]="data.white">
      <mat-hint>{{data.type === 'Full'? "Max: 114.7" : "Max: 229.4"}}</mat-hint>

    </mat-form-field>
  </div>


  <div *ngIf="data.type === 'Full' || data.type === 'Red&Blue'" >

  <p>Red PAR:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.red">
    <mat-hint>Max: 209.7</mat-hint>

  </mat-form-field>
</div>

  <div *ngIf="data.type === 'Full' || data.type === 'Red&Blue'" >

  <p>Blue PAR:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.blue">
    <mat-hint>Max: 129.4</mat-hint>

  </mat-form-field>
</div>

<div *ngIf="data.type === 'Purple'" >

  <p>Purple PAR:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.purple">
    <mat-hint>Max: 416</mat-hint>

  </mat-form-field>
</div>
<div *ngIf="data.type === 'PLC'" >
  <p>White:</p>
  <mat-radio-group
  [(ngModel)]="data.white">
  <mat-radio-button  *ngFor="let bool of bools"value="{{bool}}">
    {{bool}}
  </mat-radio-button>
</mat-radio-group>
</div>
<div *ngIf="data.type === 'PLC'" >
  <p>Red:</p>
  <mat-radio-group
  [(ngModel)]="data.red">
  <mat-radio-button  *ngFor="let bool of bools"value="{{bool}}">
    {{bool}}
  </mat-radio-button>
</mat-radio-group>
</div>
<div *ngIf="data.type === 'PLC'" >
  <p>Blue:</p>
  <mat-radio-group
  [(ngModel)]="data.blue">
  <mat-radio-button  *ngFor="let bool of bools"value="{{bool}}">
    {{bool}}
  </mat-radio-button>
</mat-radio-group>
</div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Exit</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Schedule</button>

</div>