<app-page-wrapper title="Configuration" shadow='false'>
    <div class=" mt-3 justify-content-center">
        <div class="p-3">
            <a routerLink="/configuration/led">
                <mat-card class="block-setting">
                    <i  class="material-icons-sharp icon-full-width">highlight</i>
                    <mat-label>LED panels</mat-label>
                </mat-card>
            </a>
        </div>
        <div class="p-3">
            <a routerLink="/configuration/air">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">ac_unit</i>
                    <mat-label>Air conditioning</mat-label>
                </mat-card>
            </a>
        </div>
        <div class="p-3">
            <a routerLink="/configuration/drawers">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">move_to_inbox</i>
                    <mat-label>Drawers</mat-label>
                </mat-card>
            </a>
        </div>


    </div>
</app-page-wrapper>
