<button class="btn cancel" type="close" (keydown.esc)="close()" (click)="close()"></button>  
<h2>Recipe Settings</h2>

<form [formGroup]="recipeSettingsForm">
  <table>

    <tr>
      <th><label >Name </label></th>
      <td><input type="text"  formControlName="Recipename"/></td>
    </tr>

    <tr>
      <th><label >Version </label></th>
      <td><input type="number" placeholder="{{this.dataService.finalJson.Version}}" formControlName="Version"/></td>
    </tr>

    <tr>
      <th><label >Type </label></th>
      <td><input type="text"  formControlName="Recipetype"/></td>
    </tr>

    <tr>
      <th><label >Seed type: </label></th>
      <td>
        <select id="Seedtype" formControlName="Seedtype" value="{{this.dataService.finalJson.SeedType}}">
          <option *ngFor="let seed of this.sortedType" value="{{seed}}">{{seed}}</option>
        </select>
    </td>
    </tr>

    <tr>
      <th><label >Estimated Production </label></th>
      <td><input type="number" value="{{this.dataService.finalJson.EstimatedProduction}}" formControlName="EstProd"/>Kg/m<sup>2</sup></td>
    </tr>

    <tr>
      <th><label >Description </label></th>
      <td><textarea rows="3" formControlName="Description" placeholder="{{this.dataService.finalJson.Description}}"></textarea></td>
    </tr>

    <tr>
      <th> <label >Note </label></th>
      <td><textarea rows="3" formControlName="Note" placeholder="{{this.dataService.finalJson.Note}}"></textarea></td>
    </tr>

    <tr>
      <th><label >Tag </label></th>
      <td><input type="text"  formControlName="Tag" placeholder="{{this.dataService.finalJson.Tag}}"></td>
    </tr>

    <tr>
      <td colspan="2">
        <table style="border: solid 1px grey">
          <tr>
            <th>Wet seedling terrain</th>
            <td>
              <div id="lightOn" style="width: 3rem; float: right">
                <div id="lightOn-btn" [style.background-color]="this.dataService.finalJson.FirstRefill.active === true ? 'rgb(153, 225, 252)' : ''"
                (click)="this.dataService.finalJson.FirstRefill.active = !this.dataService.finalJson.FirstRefill.active">
                  <div id="hand" [ngClass]="this.dataService.finalJson.FirstRefill.active === true ? 'on' : 'off'"></div>
                </div>
              </div>
            </td>
          </tr>

          <tr *ngIf="this.dataService.finalJson.FirstRefill.active === true">
            <th><label>Type</label></th>
            <td>
              <select [(ngModel)]="this.dataService.finalJson.FirstRefill.type">
                <option *ngFor="let r of this.dataService.refillTypes" [value]="r.value">{{r.view}}</option>
              </select>
            </td>
          </tr>
      
          <tr *ngIf="this.dataService.finalJson.FirstRefill.active === true">
            <th>
              <label>Solution</label>
            </th>
            <td>
              <select [(ngModel)]="this.dataService.finalJson.FirstRefill.solution">
                <option *ngFor="let s of this.dataService.solutionList" [value]="s">{{s}}</option>
              </select>
            </td>
          </tr>
      
          <tr *ngIf="this.dataService.finalJson.FirstRefill.active === true">
            <th>Quantity</th>
            <td>
              <mat-slider #matsliderquantity min="0.5" max="25" step="0.5" [(ngModel)]="this.dataService.finalJson.FirstRefill.quantity"></mat-slider>
              <input #matInput min="0.5" max="25" class="span-input" type="number" [(ngModel)]="this.dataService.finalJson.FirstRefill.quantity"><strong> L</strong>
            </td>
          </tr>
      
        </table>
      </td>
    </tr>
    

    
  </table>

</form>

<div class="footer">
    <button class="btn submit" type="submit" (click)="submit()" [disabled]="this.recipeSettingsForm.status === 'INVALID'">Confirm</button> 
</div>