@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import '../../../../../assets/styles/variables.scss';
@import '../../../../../styles.scss';


:host {
  button {
    min-width: 8rem;
    margin: 1rem 1.5rem;
  }

  .mat-stroked-button.cdk-mouse-focused{
    background-color: $lv2;
  }

  h4 {
    margin: 1rem 0 0;
  }
}
