$body-color-blue: #000000;
$body-color-white: #FFFFFF;
$body-text-color: #fff;
$body-text-size: 14px;

$border-radius: 4px;
$mat-card-color-grey: #f4f5f7;
$mat-card-font-color: #8898aa;
$button-color: #5e72e4;

$editor-background-color: #08131b;
$editor-border-color: #193d58;
$editor-ono-blue: #00aeef;
$editor-ono-blue-rgb: rgb(0, 174, 239);
$editor-ono-grey: #959599;
$editor-ono-grey-rbg: rgb(149, 149, 153);
$err-color: rgb(255, 98, 98);

$ono-blue: rgb(0, 174, 239);
$ono_grey: rgb(138,139,147);

$lv-1: #101024;
$lv0: #3D4754;
$lv1: #2D343E;
$lv2: #4D5662;
$lv3: #646C76;

$blue: #6972C4;
$lightblue: #c0d8ff;
$green: #68da6e;
$date-color:#8ebbff;

$font-color: #f0f1f2;
$font-color-2: rgb(165, 167, 168);

:host {
  button {
    min-width: 8rem;
    margin: 1rem 1.5rem;
  }

  .mat-stroked-button.cdk-mouse-focused{
    background-color: $lv2;
  }

  h4 {
    margin: 1rem 0 0;
  }
}
