<div class="page-wrapper">

    <div class="btn-container">

        <div class="conf-btn" ="/configuration/led">
            
            <mat-icon class="icon">highlights</mat-icon>
            <div class="title">LED panel</div>

        </div>

        <div class="conf-btn" routerLink="/configuration/air">
            
            <mat-icon class="icon">ac_unit</mat-icon>
            <div class="title">Ac</div>
            
        </div>

        <div class="conf-btn"routerLink="/configuration/drawers">
            
            <mat-icon class="icon">move_to_inbox</mat-icon>
            <div class="title">Drawers</div>
            
        </div>

        <div class="conf-btn" outerLink="/configuration/shutter">
            
            <mat-icon class="icon">line_weight</mat-icon>
            <div class="title">Shutters</div>
            
        </div>
    </div>

</div>
