
<div class="body">


    <div class="logo">
        <div class="logo-ono"></div>
    </div>


    <div class="header">
        <ngx-avatar [name]="getFullName()" class="avatar"></ngx-avatar>
        <div class="name">
            <h5>{{getFullName()}}</h5>
            <h6>{{user.Profiles && user.Profiles[0] || ''}}</h6>
        </div>
    </div>

    <!-- <button (click)="test()">test</button> -->

    <ng-container *ngFor="let x of BUTTONS">
        <div class="menu-item-primary"
        [routerLink]="x.link !== '' ? [x.link] : []"
        id="{{x}}"
        (click)="toggleTab(x.id)"
        [ngClass]="isActiveTab(x.id) ? 'activeTab' : ''"
        [ngStyle]="{'border-color': x.color}"
        >

        <div class="title-wrapper">
            <div class="title">{{x.title}}</div>
            <div class="icon">
                <mat-icon>{{x.icon}}</mat-icon>
            </div>
        </div>

        </div>

        <ng-container *ngIf="isActiveTab(x.id)">
            <ng-container *ngFor="let sub of x.sub">
                <div class="menu-item-secondary"
                [routerLink]="sub.link !== '' ? [sub.link] : []"
                (click)="setActiveSub(sub.id)"
                [ngClass]="isActiveSub(sub.id) ? 'activeSub' : ''"
                @CollapseAnimation>
    
                    <div class="title-wrapper">
                        <div class="title">{{sub.title}}</div>
                        <div class="icon">
                            <mat-icon>{{sub.icon}}</mat-icon>
                        </div>
                    </div>
                    
                </div>
            </ng-container>
        </ng-container>
        
    </ng-container>

    <mat-divider></mat-divider>

    <div class="menu-item-primary" (click)="logOut()">
        <div class="title-wrapper">
            <div class="title">{{'label.logout' | translate}}</div>
            <mat-icon class="icon">input</mat-icon>
        </div>
    </div>
    
</div>