.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .horizontal-list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 22%;
    height: 100%;
    margin: 0 .5rem;

    font-size: 0.9rem;
    color: #A6B2BF;
    font-weight: bold;

    p {
      font-size: 0.8rem;
      font-weight: normal;
    }
  }
}

.bottom-list {
  margin: 3rem 0 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
