
<iframe width="100%" height="100%" src="http://192.168.60.3:3000/d/fs_CoUZGk/systemdash?orgId=1&from=1587945642000&to=now&kiosk"></iframe>


<!-- <mat-card-title style="text-align:center; margin-top: 5px;">Dashboard</mat-card-title>


<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="700px">

    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <div style="height: 100%">

          <mat-card-header>
            <mat-card-title>
              {{card.title}}

            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Efficiency'">
            <efficiency></efficiency>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Current usage'">
            <chartCurrent></chartCurrent>
          </mat-card-content>

          
          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Growth drawers usage'">
            <chart-two></chart-two>
          </mat-card-content>

          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Growth drawers movements'">
            <chart-four></chart-four>
          </mat-card-content>

          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Yearly m^2 production [Kg]'">
            <chart-pro></chart-pro>
          </mat-card-content>


          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Ambiental'">
            <chart-three></chart-three>
          </mat-card-content>

          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Power [kW]'">
            <consump></consump>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Estimated Lamp Power [W]'">
            <lamp-consump></lamp-consump>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content" *ngIf="card.title=='Daily LED panel usage [h]'">
            <chart-one></chart-one>
          </mat-card-content>


        </div>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->