@import '../../../../../assets/styles/variables.scss';
@import '../../../../../styles.scss';

.page-wrapper{

    font-family: Verdana;

    height: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: $lv-1;

    color: $font-color;

    user-select: none;

    font-family: Roboto,Helvetica Neue,Arial,sans-serif;

    .gantt-wrapper{
        flex:100%;
        margin: 1rem;
        margin-bottom: .5rem;
        height: calc(40% - 1.5rem);

        background-color: $lv0;
        color: $font-color;

        #gantt{
            height: calc(100% - 3rem);
        }
        #buttons{
            height: 3rem;
            padding: .5rem;

            text-align: right;

            .square-btn{
                height: 2rem;
                width: 2rem;
                display: inline-block;
                margin-left: 1rem;
                padding: .5rem;
                text-align: center;
                line-height: 100%;

                background-color: $lv3;


                &:disabled{
                    opacity: 0.2;
                }

                &:hover{
                    background-color: rgba(255,255,255,0.3);
                }

            }
        }
    }

    .order-info{
        flex: .5;
        height: calc(60% - 1.5rem);
        margin: .5rem .5rem 1rem 1rem;
        background-color: $lv0;
        color: $font-color;

        padding: 1rem;

        .info-container{
            width: fit-content;
            .o-table{
                width: 100%;
                border: 1px solid $font-color;
                padding: 1rem;
                .o-row{
                    padding: .5rem;
                    // border-bottom: solid 1px $font-color;

                    .even{
                        background-color: rgba(255,255,255,.05);
                    }

                    .key{
                        border-right: 1px solid $font-color;
                        padding: .25rem 1rem;
                    }

                    .value{
                        padding: .25rem 1rem;
                        opacity: .8;
                    }
                }
            }
        }

    }
    .order-action{
        flex: .5;
        height: calc(60% - 1.5rem);
        margin: .5rem 1rem 1rem .5rem;
        background-color: $lv0;
        color: $font-color;
    }
}



@media screen and (orientation: portrait) {
    
    .page-wrapper{
        flex-direction: column;

        width: 97%;

        .gantt-wrapper{
            flex: .3 !important;
            margin: .5rem 1rem .5rem 1rem !important;
        }
        .order-info{
            flex: .35 !important;
            margin: .5rem 1rem .5rem 1rem !important;
        }
        .order-action{
            flex: .35 !important;
            margin: .5rem 1rem .5rem 1rem !important;
        }
    }
}