@import '../../../../../assets/styles/variables.scss';
@import '../../../../../styles.scss';

.page-wrapper{
    height: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: $lv-1;

    color: $font-color;

    user-select: none;

    font-family: Roboto,Helvetica Neue,Arial,sans-serif;

    .gantt-wrapper{
        flex:100%;
        margin: 1rem;
        margin-bottom: .5rem;
        height: calc(40% - 1.5rem);

        background-color: $lv0;
        color: $font-color;
    }

    .order-info{
        flex: .5;
        height: calc(60% - 1.5rem);
        margin: .5rem .5rem 1rem 1rem;
        background-color: $lv0;
        color: $font-color;
        pre{
            color: $font-color;
        }
    }
    .order-action{
        flex: .5;
        height: calc(60% - 1.5rem);
        margin: .5rem 1rem 1rem .5rem;
        background-color: $lv0;
        color: $font-color;
    }
}



@media screen and (orientation: portrait) {
    
    .page-wrapper{
        flex-direction: column;

        width: 97%;

        .gantt-wrapper{
            flex: .3 !important;
            margin: .5rem 1rem .5rem 1rem !important;
        }
        .order-info{
            flex: .35 !important;
            margin: .5rem 1rem .5rem 1rem !important;
        }
        .order-action{
            flex: .35 !important;
            margin: .5rem 1rem .5rem 1rem !important;
        }
    }
}