<!-- <app-page-wrapper title="Profile" *ngIf="user" shadow="false">

    <div class="row mt-3">
        <div class="col-md-4">
            <mat-card class="left-panel">
                <mat-card-content>
                    <ngx-avatar [name]="getFullName()" size="160" class="mb-4 mt-4"></ngx-avatar>
                    <h6>{{getFullName()}}</h6>
                    <small class="text-muted">{{getAddress()}}</small>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button *ngIf="state === states.VIEW" mat-button color="primary"
                            (click)="setEditState()">{{'label.edit' | translate}}</button>
                    <button *ngIf="state === states.EDIT" mat-button color="warn"
                            (click)="saveUserData()" [disabled]="!dirty">{{'label.save' | translate}}</button>
                    <button *ngIf="state === states.EDIT" mat-button color="primary"
                            (click)="onCancelHandler()">{{'label.cancel' | translate}}</button>
                    <button *ngIf="state === states.CREATE" mat-button color="primary"
                            (click)="createButtonHandler()"
                            [disabled]="!userFormGroup.valid">{{'label.create' | translate}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-8">
            <mat-card class="left-panel">
                <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()" #userInfoForm="ngForm">
                    <div class="container">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <mat-label class="list-label">{{"label.userInformation" | translate}}</mat-label>
                            </li>
                            <li class="list-group-item">

                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.userName' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.userName' | translate}}"
                                                   formControlName="Username"
                                                   autocomplete="off"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.email' | translate}}</mat-label>
                                            <input matInput type="email" placeholder="{{'label.email' | translate}}"
                                                   formControlName="Email"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.firstName' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.firstName' | translate}}"
                                                   formControlName="FirstName"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.lastName' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.lastName' | translate}}"
                                                   formControlName="LastName"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.profiles' | translate}}</mat-label>
                                            <mat-select formControlName="Profiles" multiple [(ngModel)]="user.Profiles"
                                                        [disableControl]=" !privacyService.isAdmin() || isEditState()">
                                                <mat-option *ngFor="let profile of userProfiles" [value]="profile.Name">{{profile.Name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.Systems' | translate}}</mat-label>
                                            <mat-select formControlName="Systems" multiple [(ngModel)]="user.Systems"
                                                        [disableControl]=" !privacyService.isAdmin() || isEditState()">
                                                <mat-option *ngFor="let system of systems" [value]="system.SystemName">{{system.SystemName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <mat-divider></mat-divider>
                            </li>
                            <li *ngIf="state === states.CREATE" class="list-group-item">
                                <mat-label class="list-label">{{"label.password" | translate}}</mat-label>
                            </li>
                            <li *ngIf="state === states.CREATE" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.password' | translate}}</mat-label>
                                            <input matInput type="password"
                                                   placeholder="{{'label.password' | translate}}"
                                                   formControlName="Password"
                                                   autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="state === states.CREATE" class="list-group-item">
                                <mat-divider></mat-divider>
                            </li>
                            <li class="list-group-item">
                                <mat-label class="list-label">{{"label.contactInformation" | translate}}</mat-label>
                            </li>
                            <li class="list-group-item">

                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.street' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.street' | translate}}"
                                                   formControlName="Street"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.city' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.city' | translate}}"
                                                   formControlName="City"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.state' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.state' | translate}}"
                                                   formControlName="State"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.cap' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.cap' | translate}}"
                                                   formControlName="Cap"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <mat-divider></mat-divider>
                            </li>
                            <li class="list-group-item">
                                <mat-label class="list-label">{{"label.additionInformation" | translate}}</mat-label>
                            </li>
                            <li class="list-group-item">
 
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.phone' | translate}}</mat-label>
                                            <input matInput type="tel" placeholder="{{'label.phone' | translate}}"
                                                   formControlName="Telephone"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.birthday' | translate}}</mat-label>
                                            <input matInput [matDatepicker]="picker"
                                                   placeholder="{{'label.birthday' | translate}}"
                                                   formControlName="DateOfBirth"
                                                   [disableControl]="isEditState()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.organization' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.organization' | translate}}"
                                                   formControlName="Organization"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.group' | translate}}</mat-label>
                                            <input matInput type="text" placeholder="{{'label.group' | translate}}"
                                                   formControlName="Group"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
               
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.StandardCost' | translate}}</mat-label>
                                            <input matInput type="number"
                                                   placeholder="{{'label.StandardCost' | translate}}"
                                                   formControlName="StandardCost"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.StandardSchedule' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.StandardSchedule' | translate}}"
                                                   formControlName="StandardSchedule"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>

                     
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.OvertimeCost' | translate}}</mat-label>
                                            <input matInput type="number"
                                                   placeholder="{{'label.OvertimeCost' | translate}}"
                                                   formControlName="OvertimeCost"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.OvertimeSchedule' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.OvertimeSchedule' | translate}}"
                                                   formControlName="OvertimeSchedule"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>

                 
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.tag' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.tag' | translate}}"
                                                      formControlName="Tag"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.skill' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.skill' | translate}}"
                                                      formControlName="Skill"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.description' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.description' | translate}}"
                                                      formControlName="Description"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.note' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.note' | translate}}"
                                                      formControlName="Note"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</app-page-wrapper> -->
<div class="page-wrapper">
    <div class="row mt-3" *ngIf="loadedData">
        <div class="col-md-4">
            <mat-card class="left-panel">
                <mat-card-content>
                    <ngx-avatar [name]="getFullName()" size="160" class="mb-4 mt-4"></ngx-avatar>
                    <h6>{{getFullName()}}</h6>
                    <small class="text-muted">{{getAddress()}}</small>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button *ngIf="state === states.VIEW" mat-button color="primary"
                            (click)="setEditState()">{{'label.edit' | translate}}</button>
                    <button *ngIf="state === states.EDIT" mat-button color="warn"
                            (click)="saveUserData()" [disabled]="!dirty">{{'label.save' | translate}}</button>
                    <button *ngIf="state === states.EDIT" mat-button color="primary"
                            (click)="onCancelHandler()">{{'label.cancel' | translate}}</button>
                    <button *ngIf="state === states.CREATE" mat-button color="primary"
                            (click)="createButtonHandler()"
                            [disabled]="!userFormGroup.valid">{{'label.create' | translate}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-8">
            <mat-card class="left-panel">
                <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()" #userInfoForm="ngForm">
                    <div class="container">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <mat-label class="list-label">{{"label.userInformation" | translate}}</mat-label>
                            </li>
                            <li class="list-group-item">

                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.userName' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.userName' | translate}}"
                                                   formControlName="Username"
                                                   autocomplete="off"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.email' | translate}}</mat-label>
                                            <input matInput type="email" placeholder="{{'label.email' | translate}}"
                                                   formControlName="Email"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.firstName' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.firstName' | translate}}"
                                                   formControlName="FirstName"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.lastName' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.lastName' | translate}}"
                                                   formControlName="LastName"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.profiles' | translate}}</mat-label>
                                            <mat-select formControlName="Profiles" multiple [(ngModel)]="user.Profiles"
                                                        [disableControl]=" !privacyService.isAdmin() || isEditState()">
                                                <mat-option *ngFor="let profile of userProfiles" [value]="profile.Name">{{profile.Name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.Systems' | translate}}</mat-label>
                                            <mat-select formControlName="Systems" multiple [(ngModel)]="user.Systems"
                                                        [disableControl]=" !privacyService.isAdmin() || isEditState()">
                                                <mat-option *ngFor="let system of systems" [value]="system.SystemName">{{system.SystemName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <mat-divider></mat-divider>
                            </li>
                            <li *ngIf="state === states.CREATE" class="list-group-item">
                                <mat-label class="list-label">{{"label.password" | translate}}</mat-label>
                            </li>
                            <li *ngIf="state === states.CREATE" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.password' | translate}}</mat-label>
                                            <input matInput type="password"
                                                   placeholder="{{'label.password' | translate}}"
                                                   formControlName="Password"
                                                   autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="state === states.CREATE" class="list-group-item">
                                <mat-divider></mat-divider>
                            </li>
                            <li class="list-group-item">
                                <mat-label class="list-label">{{"label.contactInformation" | translate}}</mat-label>
                            </li>
                            <li class="list-group-item">

                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.street' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.street' | translate}}"
                                                   formControlName="Street"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.city' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.city' | translate}}"
                                                   formControlName="City"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.state' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.state' | translate}}"
                                                   formControlName="State"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.cap' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.cap' | translate}}"
                                                   formControlName="Cap"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <mat-divider></mat-divider>
                            </li>
                            <li class="list-group-item">
                                <mat-label class="list-label">{{"label.additionInformation" | translate}}</mat-label>
                            </li>
                            <li class="list-group-item">
 
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.phone' | translate}}</mat-label>
                                            <input matInput type="tel" placeholder="{{'label.phone' | translate}}"
                                                   formControlName="Telephone"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.birthday' | translate}}</mat-label>
                                            <input matInput [matDatepicker]="picker"
                                                   placeholder="{{'label.birthday' | translate}}"
                                                   formControlName="DateOfBirth"
                                                   [disableControl]="isEditState()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.organization' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.organization' | translate}}"
                                                   formControlName="Organization"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.group' | translate}}</mat-label>
                                            <input matInput type="text" placeholder="{{'label.group' | translate}}"
                                                   formControlName="Group"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>
               
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.StandardCost' | translate}}</mat-label>
                                            <input matInput type="number"
                                                   placeholder="{{'label.StandardCost' | translate}}"
                                                   formControlName="StandardCost"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.StandardSchedule' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.StandardSchedule' | translate}}"
                                                   formControlName="StandardSchedule"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>

                     
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.OvertimeCost' | translate}}</mat-label>
                                            <input matInput type="number"
                                                   placeholder="{{'label.OvertimeCost' | translate}}"
                                                   formControlName="OvertimeCost"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.OvertimeSchedule' | translate}}</mat-label>
                                            <input matInput type="text"
                                                   placeholder="{{'label.OvertimeSchedule' | translate}}"
                                                   formControlName="OvertimeSchedule"
                                                   [disableControl]="isEditState()">
                                        </mat-form-field>
                                    </div>
                                </div>

                 
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.tag' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.tag' | translate}}"
                                                      formControlName="Tag"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.skill' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.skill' | translate}}"
                                                      formControlName="Skill"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.description' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.description' | translate}}"
                                                      formControlName="Description"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'label.note' | translate}}</mat-label>
                                            <textarea matInput placeholder="{{'label.note' | translate}}"
                                                      formControlName="Note"
                                                      [disableControl]="isEditState()"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
    <!-- <div class="loader" *ngIf="!loadedData">
        <mat-spinner></mat-spinner>
    </div> -->
</div>