<ng-container *ngIf="moduleFormGroup">
    <div class="container-fluid">
        <h2 mat-dialog-title>{{data.title}}</h2>
        <mat-dialog-content>
            <form [formGroup]="moduleFormGroup">
                <div class="row">
                    <div class="col">
                        <!-- System Name -->
                        <mat-form-field appearance="outline" disabled="true">
                            <mat-label>{{'label.Systems' | translate}}</mat-label>
                            <mat-select formControlName="System" multiple="false" [(ngModel)]="system">
                                <mat-option *ngFor="let system of systemsList" [value]="system">{{system}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- RackNumber -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.RackNumber' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.RackNumber' | translate}}"
                                   formControlName="RackNumber"
                                   autocomplete="off">
                        </mat-form-field>
                        <!-- LightSlotsNumber -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.LightSlotsNumber' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.LightSlotsNumber' | translate}}"
                                   formControlName="LightSlotsNumber"
                                   autocomplete="off">
                        </mat-form-field>
                        <!-- GrowthSlotsNumber -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.GrowthSlotsNumber' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.GrowthSlotsNumber' | translate}}"
                                   formControlName="GrowthSlotsNumber"
                                   autocomplete="off">
                        </mat-form-field>
                        <!-- SolutionCapacity -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.SolutionCapacity' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.SolutionCapacity' | translate}}"
                                   formControlName="SolutionCapacity"
                                   autocomplete="off">
                        </mat-form-field>
                        <!-- Description -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.description' | translate}}</mat-label>
                            <textarea matInput placeholder="{{'label.description' | translate}}"
                                      formControlName="Description"></textarea>
                        </mat-form-field>
                        <!-- Note -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.note' | translate}}</mat-label>
                            <textarea matInput placeholder="{{'label.note' | translate}}"
                                      formControlName="Note"></textarea>
                        </mat-form-field>
                        <!-- Description -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.tag' | translate}}</mat-label>
                            <textarea matInput placeholder="{{'label.tag' | translate}}"
                                      formControlName="Tag"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button [mat-dialog-close]="null">{{'label.cancel' | translate}}</button>
            <button mat-button [mat-dialog-close]="moduleFormGroup" [disabled]="moduleFormGroup.invalid"
                    cdkFocusInitial>{{'label.save' | translate}}</button>
        </mat-dialog-actions>
    </div>
</ng-container>

