
<div class="page-wrapper custom-scrollbar">

    <div class="btn-container">

        <ng-container *ngFor="let btn of BUTTONLIST">
            <div 
            class="conf-btn" 
            (click)="!this.drawerState() ? transAction(btn.id) : ''"
            [ngClass]="this.drawerState() ? 'dis-btn' : ''"
            >
            
                <mat-icon class="icon">{{btn.icon}}</mat-icon>
                <div class="title">{{btn.title}}</div>
    
            </div>
        </ng-container>
        
    </div>

</div>
