<app-page-wrapper title="Test" shadow='false'>
    <div class="row mt-3 justify-content-center">
        <div class="p-3">
            <a routerLink="/test/stress">
                <mat-card class="block-setting">
                    <i  class="material-icons-sharp icon-full-width">gavel</i>
                    <mat-label>Stress test</mat-label>
                </mat-card>
            </a>
        </div>
        <!-- <div class="p-3">
            <a routerLink="/test/standard">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">swap_calls</i>
                    <mat-label>Standard test</mat-label>
                </mat-card>
            </a>
        </div> -->
        <div class="p-3">
            <a routerLink="/test/simple">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">open_with</i>
                    <mat-label>Simple movements</mat-label>
                </mat-card>
            </a>
        </div>

        <div class="p-3">
            <a routerLink="/test/refill">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">local_gas_station</i>
                    <mat-label>Refill</mat-label>
                </mat-card>
            </a>
        </div>
    </div>
</app-page-wrapper>
