<button class="btn cancel" type="close" (keydown.esc)="close()" (click)="close()"></button>  
<div>
  <h2>Solution settings</h2>
  <form [formGroup]="solutionForm">

    <label>Solution type </label><span>{{this.solution.solution}}</span><br>
    <input list="solList"  formControlName="solution" require  placeholder="{{this.solution.solution}}" />
    <datalist id="solList">
      <option *ngFor="let sol of this.dataService.solutionList" [value]="sol">{{sol}}</option>
    </datalist>
  </form>

  <mat-label>Quantity</mat-label><br>
  <mat-slider #matsliderquantity value ="{{this.solution.solutionquantity}}" min="0" max="25" step="1" (input)="setQuantity($event)"></mat-slider>
  <input matInput min="0" max="25" class="span-input" type="number" value={{this.solution.solutionquantity}} (change)="setQuantity($event)"> <strong> liters</strong>
  <br>


  <div class="refillArea">
    <h2>Refill conditions</h2>


    <label class="typeTitle">Refill type: </label><br>
    <select type="number" [(ngModel)]="this.solution.refill.refilltype">
      <option *ngFor="let t of this.refillTypes" [ngValue]="t.value">{{t.view}}</option>
    </select>

    <label style="margin-top: 20px">Frequency</label><br>
    <mat-slider #matsliderfrequency value ="{{show}}" min="0.5" max="{{maxFrequency()}}" step="0.5" (input)="setFrequency(matsliderfrequency.value)"></mat-slider>
    <input #matInput min="1" max="{{maxFrequency()}}" class="span-input" type="number" value="{{show}}" (change)="setFrequency(matInput.value)"><strong> days</strong><br>


    <label>pH</label><br>
    <ng5-slider [(value)]="solution.refill.ph.min" [(highValue)]="solution.refill.ph.max" [options]="phOptions"></ng5-slider>
    <br>

    <label>Electric conducibility (uS)</label><br>
    <ng5-slider [(value)]="solution.refill.ec.min" [(highValue)]="solution.refill.ec.max" [options]="ecOptions"></ng5-slider>
    <br>

    <hr>

    <div style="border: solid 1px grey; padding: 1rem">
      <!-- <label>Periodical spray</label>
      <input type="checkbox" 
        name="sprayActive"
        id="sprayActive" 
        [checked]="this.solution.spray.active === true" 
        [(ngModel)]="this.solution.spray.active"

        style="width: auto; float:right; margin: 0 0 8px 0"
      > -->

      <div id="lightOn">
        <div id="lightOn-label">
          Periodical Spray {{solution.spray.active === true ? 'ON' : 'OFF'}}
        </div>
      
        <div id="lightOn-btn" [style.background-color]="this.solution.spray.active === true ? 'rgb(153, 225, 252)' : ''"
        (click)="this.solution.spray.active = !this.solution.spray.active">
          <div id="hand" [ngClass]="this.solution.spray.active === true ? 'on' : 'off'"></div>
        </div>
      </div>
  
      <div *ngIf="this.solution.spray.active === true" [formGroup]="solutionForm">
        
        <label style="margin-top: 20px">Frequency</label><br>
        <mat-slider #matslidersprayfrequency value ="{{sprayShow}}" min="1" max="{{maxFrequency() * 24}}" step="1" (input)="setSprayFrequency(matslidersprayfrequency.value)"></mat-slider>
        <input #matsprayInput min="1" max="{{maxFrequency() * 24}}" class="span-input" type="number"
        value="{{sprayShow}}" (change)="setSprayFrequency(matsprayInput.value)">
        <strong> h</strong><br>
  
  
        <label>Solution</label><span>{{this.solution.spray.solution}}</span><br>
        <input list="solList"  formControlName="spraySolution" require  placeholder="{{this.solution.spray.solution}}" [(ngModel)]="this.solution.spray.solution"/>
        <datalist id="solList">
          <option *ngFor="let sol of this.dataService.solutionList" [value]="sol">{{sol}}</option>
        </datalist>
  
      </div>
    </div>





    <div class="footer">
      <button class="btn submit" type="submit" (click) = "submit()">Confirm</button> 
    </div>
  </div>

</div>
