<button class="btn cancel" type="close" (keydown.esc)="close()" (click)="close()"></button>  
<h2>Lights settings</h2>
<div id="lightOn">
  <div id="lightOn-label">
    Turn the lights {{this.lightOn === true ? 'OFF' : 'ON'}} for this period.
  </div>
  <div id="lightOn-btn" [style.background-color]="this.lightOn === true ? 'rgb(153, 225, 252)' : ''" (click)="this.lightOn = !this.lightOn; setLightOn()">
    <div id="hand" [ngClass]="this.lightOn === true ? 'on' : 'off'"></div>
  </div>
</div>

<ng-container *ngIf="lightOn === true">
  <form [formGroup]="lightForm">
    <label>Light spectrum </label><span>{{this.light.lightspectrum}}</span><br>
    <input list="spectrumlist"  formControlName="lightspectrum" placeholder="{{this.light.lightspectrum}}"/>
    <datalist id="spectrumlist">
      <option *ngFor="let s of spectrumlist" [value]="s">{{s}}</option>
    </datalist>
  </form>
  <mat-label>Darkness</mat-label><br>
  <mat-slider #matslidernight value ="{{this.light.photoperiod.night / 60}}" min="0" max="23" step="0.5" (input)="setNight($event)"></mat-slider>
  <input matInput min="0" max="23" class="span-input" type="number" value={{matslidernight.value}} (change)="setNight($event)"> hours<br>
  <br>
  <mat-label>Light</mat-label><br>
  <mat-slider #matsliderday value ="{{this.light.photoperiod.day / 60}}" min="1" max="24" step="0.5"  (input)="setDay($event)"></mat-slider>
  <input matInput min="1" max="24" class="span-input" type="number" value={{matsliderday.value}} (change)="setDay($event)"> hours<br>
  <br>
  <mat-label>Light intensity</mat-label><br>
  <mat-slider #matsliderintensity value ="{{this.light.lightintensity}}" min="0" max="500" step="1" (input)="setIntensity($event)"></mat-slider>
  <input matInput min="100" max="500" class="span-input" type="number" value={{this.light.lightintensity}} (change)="setIntensity($event)"> μE/m<sup>2</sup><br>
</ng-container>

<mat-label>Drawer distance</mat-label><br>
<mat-slider #matsliderdistance value ="{{this.light.drawerdistance}}" min="0" max="30" step="10" (input)="setDist($event)"></mat-slider>
<input matInput min="0" max="30" step="10" class="span-input" type="number" value={{this.light.drawerdistance}} (change)="setDist($event)"> cm<br>


<div class="footer">
  <button class="btn submit" type="submit" [disabled]="!lightForm.valid" (click)="submit()">Confirm</button> 
</div>



  