<app-page-wrapper title="Plants Info" shadow="false">
    <mat-card>
        <mat-card-content>
            <div class="row w-100">
                <app-items-table *ngIf="seedsList"
                                    [title]="'label.PlantsList' | translate"
                                    [initialData]="seedsList"
                                    [displayedColumns]="displayedColumns"
                                    [actionButtons]="actionButtons"
                                    (createClick)="createClick()"
                                    (editClick)="editClick($event)"
                                    (deleteClick)="deleteClick($event)"
                ></app-items-table>
            </div>
        </mat-card-content>
    </mat-card>
</app-page-wrapper>
