@import '../../../../../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: space-between;
    justify-content: center;

    .top {
        flex: 100%;
    }

    .wrapper{
        flex: 90%;
        height: max-content;

        text-align: center;
        font-family: 'Raleway', sans-serif;

        .description {
            padding: 1rem;
            font-size: large;
        }

        .then {
            padding: 1rem;
        }
    }

    .footer {
        flex: 100%;

        padding: 1rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .state {
            flex: 100%;
            text-align: center;
        }

        .btn {
            justify-self: flex-end;
        }

    }
}


