<div class="container-fluid">
    <mat-card class="mb-3" *ngIf="formGroup">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- MODULE INFO FORM -->
            <form [formGroup]="formGroup">
                <h6>{{'label.baseInfo' | translate}}</h6>

                <mat-form-field appearance="outline">
                    <mat-label>{{'label.Name' | translate}}</mat-label>
                    <input matInput type="text"
                           placeholder="{{'label.Name' | translate}}"
                           formControlName="Name"
                           autocomplete="off"
                           [disableControl]="isDisabled('Name')">
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.One' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.One' | translate}}"
                                   formControlName="One"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('One')">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Two' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Two' | translate}}"
                                   formControlName="Two"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Two')">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Three' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Three' | translate}}"
                                   formControlName="Three"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Three')">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Four' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Four' | translate}}"
                                   formControlName="Four"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Four')">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Five' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Five' | translate}}"
                                   formControlName="Five"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Five')">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Six' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Six' | translate}}"
                                   formControlName="Six"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Six')">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Seven' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Seven' | translate}}"
                                   formControlName="Seven"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Seven')">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Eight' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Eight' | translate}}"
                                   formControlName="Eight"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Eight')">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Nine' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Nine' | translate}}"
                                   formControlName="Nine"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Nine')">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Ten' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Ten' | translate}}"
                                   formControlName="Ten"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Ten')">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'label.Eleven' | translate}}</mat-label>
                            <input matInput type="number"
                                   placeholder="{{'label.Eleven' | translate}}"
                                   formControlName="Eleven"
                                   autocomplete="off"
                                   [disableControl]="isDisabled('Eleven')">
                        </mat-form-field>
                    </div>
                </div>


                <h6>{{'label.additionInformation' | translate}}</h6>
                <!-- Description -->
                <mat-form-field appearance="outline">
                    <mat-label>{{'label.description' | translate}}</mat-label>
                    <textarea matInput placeholder="{{'label.description' | translate}}"
                              formControlName="Description" [disableControl]="isDisabled('Description')"></textarea>
                </mat-form-field>
                <!-- Note -->
                <mat-form-field appearance="outline">
                    <mat-label>{{'label.note' | translate}}</mat-label>
                    <textarea matInput placeholder="{{'label.note' | translate}}"
                              formControlName="Note" [disableControl]="isDisabled('Note')"></textarea>
                </mat-form-field>
                <!-- Description -->
                <mat-form-field appearance="outline">
                    <mat-label>{{'label.tag' | translate}}</mat-label>
                    <textarea matInput placeholder="{{'label.tag' | translate}}"
                              formControlName="Tag" [disableControl]="isDisabled('Tag')"></textarea>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <!-- EDIT BUTTON -->
            <button mat-button (click)="onEditHandler()"
                    *ngIf="componentState === pageStates.VIEW && formData">{{"label.edit" | translate}}</button>

            <!-- SAVE BUTTON -->
            <button mat-button color="warn" *ngIf="componentState === pageStates.EDIT" [disabled]="!dirty"
                    (click)="formSubmit.emit(formGroup)">{{"label.save" | translate}}</button>

            <!-- CREATE BUTTON -->
            <button mat-button color="warn" *ngIf="componentState === pageStates.CREATE" [disabled]="formGroup.invalid"
                    (click)="formSubmit.emit(formGroup)">{{"label.create" | translate}}</button>

            <!-- CANCEL BUTTON -->
            <button mat-button color="primary" *ngIf="componentState === pageStates.EDIT"
                    (click)="onCancelHandler()">{{"label.cancel" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
