/*#####################################*/
/*onocolor: rgb(0,174, 239)*/

.item {
    position: relative;
    display: inline-flex;

    height: 100px;
    line-height: 100px;

    max-width: max-content;
    
    margin:auto;
    margin-top: 5px;
    margin-bottom: 25px;
    
    justify-content: center;
    cursor: auto;
    transition: ease-in-out 200ms ;

    z-index: 0;
}
.item:hover{
    
    filter: 
        drop-shadow(0 0 7px black)
        drop-shadow(0 0 10px rgb(0,174, 239))
        drop-shadow(0 0 15px blue);
    /*
    filter: 
        drop-shadow(0 0 7px black)
        drop-shadow(0 0 10px rgb(255, 0, 200))
        drop-shadow(0 0 15px rgb(98, 0, 255))
    */
}

.selected{
    filter: 
        drop-shadow(0 0 30px rgb(0,174, 239))
        drop-shadow(0 0 10px rgb(84, 84, 255))
}
#bulb{
    position: absolute;
    z-index: 1;
    width: 50px;
    height:50px;
}

#hourglass{
    position: absolute;
    z-index: 1;
    width: 47px;
    height:47px;
}

#termometer{
    position: absolute;
    z-index: 1;
    width: 50px;
    height:50px;
}

#drop{
    position: absolute;
    z-index: 1;
    width: 50px;
    height:50px;
}


.LT{
    top: -10px;
    left: -15px
}
.lT{
    top:-10px;
    left:15px;
}

.LB{
    bottom: -10px;
    left: -15px;
}

.lB{
    bottom: -10px;
    left: 15px;
}

.RT{
    top: -10px;
    right: -15px;
}

.RB{
    right: -15px;
    bottom: -10px;
}

.Red{
    fill:rgb(253, 114, 114);
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px rgb(255, 129, 129))
        drop-shadow( 0 0 12px red);
}
.Blue{
    fill:rgb(99, 122, 255);
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px rgb(76, 183, 253))
        drop-shadow( 0 0 12px rgb(4, 0, 255));
}
.Purple{
    fill: rgb(209, 91, 255);
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px rgb(234, 163, 255))
        drop-shadow( 0 0 12px rgb(195, 0, 255));
}
.White{
    fill: white;
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px white)
        drop-shadow( 0 0 12px white);
}
.RedAndBlue{
    fill: url(#RedBlue);
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px rgb(234, 163, 255))
        drop-shadow( 0 0 12px rgb(195, 0, 255));
}
.None{
    fill: grey;
}
.custom{
    fill: url(#custom);
    filter: 
        drop-shadow( 0 0 5px white)
        drop-shadow( 0 0 10px white);
}

#lBracket{
    height: 100%;
    width:30px;
    margin-left:15px;

    z-index: 1;

    background-image: url('src/assets/math/parentesi_sx.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#rBracket{
    height: 100%;
    width: 30px;
    margin-right:15px;

    background-image: url('src/assets/math/parentesi_dx.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#plus{
    text-align: center;
    width: 10px;
    font-weight: 900;
}

#content{
    margin: 0 -5px;
}

.head{
    display: none;
}


.Water{
    fill: rgb(97,206,243);
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px rgb(64, 137, 161))
        drop-shadow( 0 0 12px rgb(97,206,243));
}
.Hoagland{ 
    fill: burlywood;
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px rgb(218, 155, 73))
        drop-shadow( 0 0 12px burlywood);
}
.Baseplant{ 
    fill: green;
    filter: 
        drop-shadow( 0 0 5px black)
        drop-shadow( 0 0 10px green)
        drop-shadow( 0 0 12px rgb(3, 197, 3));
}

.OFF{
    fill:black;
    filter: 
        drop-shadow( 0 0 5px white)
        drop-shadow( 0 0 7px white)
        drop-shadow( 0 0 12px white);
}

.completed{
    color: rgb(0, 174, 239);
    font-weight: 600;
}

/*######################*/

@media all and (orientation: portrait){
    .item{
        height: 70px;
        line-height: 70px;
        font-size: 10px;
    }

    #lBracket{
        width: 21px;
    }
    #rBracket{
        width: 21px;
    }
    
    #bulb{
        width: 45px;
        height:45px;
    }
    
    #hourglass{
        width: 40px;
        height:40px;
    }
    
    #termometer{

        width: 45px;
        height:45px;
    }
    
    #drop{

        width: 45px;
        height:45px;
    }
    
    
}