<button class="btn cancel" type="close" (keydown.esc)="close()" (click)="close()"></button>  
<h2>Final check</h2>
<div class="group-wrapper">
    <div class="group-card">

        <div class="item-wrapper">
            <div class="item-card">
                <table [formGroup]="form">
                    <tr>
                        <th>Recipe name</th>
                        <td>
                            <input type="text" value="{{data.Recipename}}" [(ngModel)]="data.Recipename" formControlName="Name">
                        </td>
                    </tr>
                    <tr class="even">
                        <th>Type</th>
                        <td>
                            <input type="text" value="{{data.Recipetype}}" [(ngModel)]="data.Recipetype" formControlName="Type">
                        </td>
                    </tr>
                    <tr>
                        <th>Estimated Production</th>
                        <td>
                            <input type="number" value="{{data.EstimatedProduction}}" [(ngModel)]="data.EstimatedProduction" formControlName="EstProd">
                        </td>
                    </tr>
                </table>
                <p style="padding: 1rem; font-size: .5rem;">
                NB. These are some important data that you won't be able to change.
                </p>
            </div>

        </div>
    </div>

</div>


<div class="footer">
    Do you want to proceed?
    <button class="btn submit" style="float: right; max-width: 300px;" type="submit" (click)="submit()" [disabled]="form.status === 'INVALID'">commit recipe</button> 
</div>

