<app-page-wrapper title="Settings" shadow='false'>
    <div class="row mt-3 justify-content-center">
        <div class="p-3">
            <a routerLink="/settings/system">
                <mat-card class="block-setting">
                    <i  class="material-icons-sharp icon-full-width">settings_applications</i>
                    <mat-label>System configuration</mat-label>
                </mat-card>
            </a>
        </div>
        <div class="p-3">
            <a routerLink="/settings/registries">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">account_tree</i>
                    <mat-label>Registries</mat-label>
                </mat-card>
            </a>
        </div>
        <div class="p-3">
            <a routerLink="/">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">settings_input_antenna</i>
                    <mat-label>Connections</mat-label>
                </mat-card>
            </a>
        </div>
        <div class="p-3">
            <a routerLink="/settings/users">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">people_alt</i>
                    <mat-label>Profiles and users</mat-label>
                </mat-card>
            </a>
        </div>
        <div class="p-3">
            <a routerLink="/">
                <mat-card class="block-setting">
                    <i class="material-icons-sharp icon-full-width">bug_report</i>
                    <mat-label>Diagnostics and maintenance</mat-label>
                </mat-card>
            </a>
        </div>

    </div>
</app-page-wrapper>
