@import '../../../../../../styles.scss';

.title {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

mat-form-field, datalist {
    padding: .5rem;
    margin-top: .5rem;
    color: $font-color;
    background-color: rgba(255,255,255,.1);
    border-radius: .5rem;
}

.mat-form-field-wrapper {
    padding: 0 !important;
}
