@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import '../../../../styles.scss';
@import '../../../../assets/styles/variables.scss';



:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

input{
  background-color: none !important;
  color: white !important;
}


::ng-deep{
  .mat-card{
    background: $lv0;
    color: $font-color;
    border-radius: 0 !important;
  }

  .mat-stroked-button{
    background-color: green;
    color: $font-color;
    border-radius: 0 !important;

    &:disabled{
      background-color: $lv0;
      color: $lv1;
    }
  }

  .mat-form-field-appearance-outline {
    .mat-form-field-outline-start {
      border-radius: 0px 0px 0px 0px !important;
      border-right-style: none;
    }

    .mat-form-field-outline-end {
      border-radius: 0px 0px 0px 0px !important;
      border-right-style: none;
    }
  }

}
